@model Sistema.Stoque.v1.Dominio.Produtos

@{
    ViewBag.Title = "Editar Saida";
}
<br />
<br />
<br />
<h3 class="page-header">Editar Saida de Produto</h3>

    <img src='@Url.Content("~/ImgProdutos/" + Model.Imagem)' alt="" width="100" height="100" /><br />
    <b>Quantidade Atual :</b>@ViewBag.Quantidadeatual<br />


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Produtos</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.Id_produto)
            <p style="color:red">@ViewBag.Erro</p>
            <div class="form-group">
                @Html.LabelFor(model => model.NomeProduto)

                @Html.EditorFor(model => model.NomeProduto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomeProduto, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quantidade)

                @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })

            </div>
            @Html.HiddenFor(model => model.Imagem)
            @Html.HiddenFor(model => model.NomeUser)
            @Html.HiddenFor(model => model.HoraCad)



            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />

            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Voltar", "Listarprodutos")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
